@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
  width: 100%;
  background-color: #f8fafc; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures the header is above other content */
  display: flex;
  justify-content: space-between; /* Distributes space between children */
  align-items: center; /* Vertically centers children */
  padding: 0 20px; /* Adds horizontal padding */
}

.header nav, .header nav a {
  display: inline; /* Ensures links are inline */
  margin-right: 20px; /* Space between links */
  text-decoration: none; /* Removes underline from links */
  color: #333; /* Dark text color for visibility */
}
